body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(205, 224, 247);
}

.ml14 {
  display: flex;
  justify-content: center;
  font-weight: 200;
  font-size: 3.2em;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(62, 108, 119);
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}

.bucket {
  display: inline-block;
  line-height: 2em;
  font-size: 2em;
  font-style: italic;
}
.bucket:not(:first-child) {
  opacity: 0.7;
  font-size: 1.5em;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0 0 -40px;
}
/* if footer is too heigh, it will block the button, that's why i can't click them before */
.footer {
  height: 50px;
  width: 100vw;
  position: fixed;
  bottom: 0px;
}
.soon {
  font-size: 0.6em;
  opacity: 0.3;
  font-style: italic;
  float: right;
  margin-top: 1.6rem;
}
.blocks {
  height: 72vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  grid-template-areas: "first-left first-right" "second-left second-right";
}

.list {
  text-align: center;
}

.list:nth-child(1) {
  grid-area: first-left;
  background-color: thistle;
  animation: pulse 5s infinite alternate-reverse;
}
.list:nth-child(1)::before {
  content: "❣️";
}
.list:nth-child(1):hover::after {
  content: " miss you...";
  font-style: italic;
  font-weight: lighter;
  font-size: 10px;
  color: cornsilk;
  opacity: 0.4;
}
.list:nth-child(2) {
  grid-area: first-right;
  background-color: gainsboro;
  animation: versePulse 5s infinite alternate-reverse;
}
.list:nth-child(3) {
  grid-area: second-left;
  background-color: gainsboro;
  animation: versePulse 5s infinite alternate-reverse;
}
.list:nth-child(4) {
  grid-area: second-right;
  font-style: italic;
  text-decoration: line-through;
  background-color: thistle;
  animation: pulse 5s infinite alternate-reverse;
}
.list:nth-child(4)::after {
  content: "🥶";
}
.list:nth-child(4)::before {
  content: "🤪";
}

/* TODO change color */
@keyframes pulse {
  0% {
    background-color: thistle;
  }
  100% {
    background-color: gainsboro;
  }
}

@keyframes versePulse {
  0% {
    background-color: gainsboro;
  }
  100% {
    background-color: thistle;
  }
}
.welcome {
  display: flex;
  justify-content: center;
}
.welcomeBtn {
  font-size: 14px;
  border-radius: 1.5em;
  background: thistle;
  border-style: none;
  font-style: italic;
  width: 10em;
  height: 3em;
  margin: 1% 45%;
  border-style: none;
  font-style: italic;
}
.welcomeBtn:hover {
  /* outline-style: none; */
  box-shadow: 0 0 0 5px gainsboro;
}
.welcomeBtn:active {
  /* outline-style: none; */
  box-shadow: 0 0 0 5px gainsboro;
}
.welcomeBtn:focus {
  /* outline-style: none; */
  box-shadow: 0 0 0 5px gainsboro;
}
/* Make welcome button excited by shaking */
.welcomeBtn {
  animation-name: flow-and-shake;
  animation-duration: calc(var(--speed) * 1s);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes flow-and-shake {
  0%,
  100% {
    transform: translate(calc(var(--x) * -1%), calc(var(--y) * -1%))
      rotate(calc(var(--rotation) * -1deg));
  }
  50% {
    transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%))
      rotate(calc(var(--rotation) * 1deg));
  }
}
.welcomeBtn:hover {
  --speed: 0.1;
  --x: 1;
  --y: -1;
  --rotation: -1;
  background-color: rgb(172, 151, 172);
}
