body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(205, 224, 247);
}

.ml14 {
  display: flex;
  justify-content: center;
  font-weight: 200;
  font-size: 3.2em;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(62, 108, 119);
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}

.bucket {
  display: inline-block;
  line-height: 2em;
  font-size: 2em;
  font-style: italic;
}
.bucket:not(:first-child) {
  opacity: 0.7;
  font-size: 1.5em;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0 0 -40px;
}

.footer {
  width: 100vw;
  position: fixed;
  bottom: 0px;
}
.soon {
  font-size: 0.6em;
  float: right;
  margin-top: 30rem;
}
.blocks {
  height: 72vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  grid-template-areas: "first-left first-right" "second-left second-right";
}

.list {
  text-align: center;
}

.list:nth-child(1){
  grid-area: first-left;
  background-color: thistle;
  animation: pulse 5s infinite alternate-reverse;
}
.list:nth-child(2){
  grid-area: first-right;
  background-color: gainsboro;
  animation: versePulse 5s infinite alternate-reverse;
}
.list:nth-child(3){
  grid-area: second-left;
  background-color: gainsboro;
  animation: versePulse 5s infinite alternate-reverse;
}
.list:nth-child(4){
  grid-area: second-right;
  font-style: italic;
  text-decoration: line-through;
  background-color: thistle;
  animation: pulse 5s infinite alternate-reverse;
}

/* TODO change color */
@keyframes pulse {
  0% {
    background-color: thistle;
  }
  100% {
    background-color: gainsboro;
  }
}

@keyframes versePulse {
  0% {
    background-color: gainsboro;
  }
  100% {
    background-color: thistle;
  }
}