.article {
  /* https://source.unsplash.com/random */
  background: url("https://source.unsplash.com/random");
  background-size: cover;
}

.headlight {
  margin: 0;
  display: flex;
  justify-content: center;
  background: gainsboro;
  transition: all 1s ease;
  padding: 0.6em;
  opacity: 0.3;
}
.headlight:hover {
  padding: 4em;
  opacity: 1;
}

.headlight > p {
  margin: -0.7em;
  font-size: 15px;
  opacity: 0.7;
  position: absolute;
  /*  Hide some words: no hide anymore  */
  clip: rect(1px, 1200px, 1180px, 0px);
}
.headlight:hover > p {
  /* TODO make it change slowly */
  font-size: 30px;
}
.headlight > p:hover {
  /* font-size: 30px; */
  opacity: 1;
  /*  Show all words  */
  clip: rect(1px, 1200px, 1180px, 0px);
}

.headlight ~ .smt {
  font-size: 6em;
}
.headlight:hover ~ .smt {
  margin: 0.1em;
  font-size: 12em;
  color: aliceblue;
  transition: all 1s ease;
}
.headlight:hover ~ .love-song {
  display: flex;
  transition: all 1s ease;
}
.headlight:hover ~ .love-song > p {
  filter: blur(0);
  border-radius: 100px 0 100px 0;
  opacity: 0.7;
  transition: all calc(1s + 2000ms) ease;
}

.love1,
.love2,
.love3,
.love4 {
  filter: blur(2px);
  display: flex;
  flex-direction: column;
  font-style: italic;
  border-radius: 0 100px 0 100px;
  padding: 40px;
  width: 200px;
  height: 37px;
  background-color: honeyDew;
  text-align: center;
  opacity: 0.3;
}
